<html>
<head>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body style="background: linear-gradient(to bottom, #99ccff 0%, #ccffff 100%);">

<div class="customerhead1">
<form action="/edit_profile_subform?profileid=<%= @profileid %>" id="editprofileform">  

<div class="tblhead" style="margin-top:5%">
<table style="width:60%" border="1" cellpadding="5%" cellspacing="1">
  <tr>
    <th colspan="2" align="center">Edit Profile</th>
    </tr>
  <tr>
    <td><label class="left"for="profileid">Profile ID</label></td>
    <td><select  class="right" id="firstDropdown" name="profileid">
  <option value="0">Select Controller</option>
<%= options_for_select(@profileid) %>
</select></td>
  </tr>

<tr>
<td colspan="2" align="center"><button type="submit" class="signupbtn">Edit</button>
<button type="button" class="resetbtn">Reset</button></td>
    </tr>
 <tr>
</table>
   
  </div> 
</form>
<script>
$('.resetbtn').click(function() { $('#editprofileform')[0].reset() })
</script>
</body>
</html>
